langchain-openai==1.1.7
langchain==1.2.3
dotenv
faiss-cpu==1.13.2
langchain-community==0.4.1
langchain-text-splitters==1.1.0
langchain-chroma==1.1.0
pypdf==6.6.0
fastapi==0.128.0
python-multipart==0.0.21